   <div class="pageTitle">
        <p><span class="pageTitleMain">Collections |</span> <span class="pageTitleDesc">Explore our floors</span></p>
    </div>

    <style>
    	#collectionsContainer {
    		width:90%;
    		margin:0 auto;
    		border:1px solid purple;
    		overflow: auto;
    	}
    	.collectionsSquare {
    		width:24.5%;
    		height:auto;
    		border:1px solid red;
    	}
    	.collectionsSquare:nth-child(1) {
		    float:left;
		}
    	.collectionsSquare:nth-child(2) {
		    float:left;
		}
    </style>
    <div id="collectionsContainer">
    	<div class="twoContainer">
    		<div class="collectionsSquare"><img width="100%" src="./assets/img/collections/asmart.png" /></div>
    		<div class="collectionsSquare"><img width="100%" src="./assets/img/collections/aurora.png" /></div>
    	</div>
    	<div class="twoContainer">
    		<div class="collectionsSquare"><img width="100%" src="./assets/img/collections/achoice.png" /></div>
    		<div class="collectionsSquare"><img width="100%" src="./assets/img/collections/generic.png" /></div>
    	</div>

    	<div class="twoContainer">
    		<div class="collectionsSquare"><img width="100%" src="./assets/img/collections/green.png" /></div>
    		<div class="collectionsSquare"><img width="100%" src="./assets/img/collections/bestrong.png" /></div>
    	</div>
    	<div class="twoContainer">
    		<div class="collectionsSquare"><img width="100%" src="./assets/img/collections/aurora.png" /></div>
    		<div class="collectionsSquare"><img width="100%" src="./assets/img/collections/generic.png" /></div>
    	</div>
    </div>
