<div id="bestrongContainer" class="selectionBoxContainer">
    <div class="collectionsRow firstRow asmartFirstRow">
        <div class="asmart selectionBox">
            <img class="lazyload" data-expand="-50" data-src="./assets/img/collections/bestrong/1.jpg" />
            <p class="selectionBoxTitle">CH 12062</p>
        </div>
        <div class="aurora selectionBox">
            <img class="lazyload" data-expand="-65" data-src="./assets/img/collections/bestrong/2.jpg" />
            <p class="selectionBoxTitle">CH 12244</p>
        </div>
        <div class="achoice selectionBox">
            <img class="lazyload" data-expand="-80" data-src="./assets/img/collections/bestrong/3.jpg" />
            <p class="selectionBoxTitle">CH 12269</p>
        </div>
        <div class="bestrong selectionBox">
            <img class="lazyload" data-expand="-85" data-src="./assets/img/collections/bestrong/4.jpg" />
            <p class="selectionBoxTitle">CH 12289</p>
        </div>
        <div class="ecobest selectionBox">
            <img class="lazyload" data-expand="-90" data-src="./assets/img/collections/bestrong/5.jpg" />
            <p class="selectionBoxTitle">CH 12301</p>
        </div>
    </div>
    <div class="collectionsRow secondRow asmartSecondRow">
        <div class="asmart selectionBox">
            <img class="lazyload" data-expand="-50" data-src="./assets/img/collections/bestrong/6.jpg" />
            <p class="selectionBoxTitle">CH 12366</p>
        </div>
        <div class="aurora selectionBox">
            <img class="lazyload" data-expand="-65" data-src="./assets/img/collections/bestrong/7.jpg" />
            <p class="selectionBoxTitle">CH 12385</p>
        </div>
        <div class="achoice selectionBox">
            <img class="lazyload" data-expand="-80" data-src="./assets/img/collections/bestrong/8.jpg" />
            <p class="selectionBoxTitle">CS 62071</p>
        </div>
        <div class="bestrong selectionBox">
            <img class="lazyload" data-expand="-85" data-src="./assets/img/collections/bestrong/9.jpg" />
            <p class="selectionBoxTitle">CS 62101</p>
        </div>
        <div class="ecobest selectionBox">
            <img class="lazyload" data-expand="-90" data-src="./assets/img/collections/bestrong/10.jpg" />
            <p class="selectionBoxTitle">CS 62273</p>
        </div>
    </div>
    <div class="collectionsRow thirdRow asmartThirdRow">
        <div class="asmart selectionBox">
            <img class="lazyload" data-expand="-50" data-src="./assets/img/collections/bestrong/11.jpg" />
            <p class="selectionBoxTitle">CS 82249</p>
        </div>
        <div class="aurora selectionBox">
            <img class="lazyload" data-expand="-65" data-src="./assets/img/collections/bestrong/12.jpg" />
            <p class="selectionBoxTitle">CS 82311</p>
        </div>
        <div class="achoice selectionBox">
            <img class="lazyload" data-expand="-80" data-src="./assets/img/collections/bestrong/13.jpg" />
            <p class="selectionBoxTitle">CS 82355</p>
        </div>
    </div>


        
    <div class="featuresContainer">
        <p class="pageTitleMain">Features</p>
        <p class="section fontLight">Made with our proprietary finished surfaces, the Bestrong addresses the industry&#8217s need for the top-quality, safe flooring that is easy to maintain. Not only is our proprietary finish durable, but it also provides anti-bacterial, anti-microbial and stain resistant benefits as well. </p>
        <p class="pageTitleMain">Application</p>
        <p class="section fontLight">Healthcare, Corporate, Retail, Hospitality, Education, Multi-Family</p>
        <p class="pageTitleMain">Product Specification</p>
        <div class="featuresContainerChart">
            <div class="leftRight">
                <div class="left"><p>Thickness</p></div><div class="right"><p>1.6mm, 1.8mm</p></div>
            </div>
            <div class="leftRight">
                <div class="left"><p>Width</p></div><div class="right"><p>1.83mm/2m</p></div>
            </div>
            <div class="leftRight">
                <div class="left"><p>Roll length</p></div><div class="right"><p>20m&#47Roll</p></div>
            </div>
            <div class="leftRight">
            </div>
        </div>
    </div>
</div><!-- end div asmartContainer -->