<!--<img class="lazyload" data-expand="-40" data-src="./assets/img/cycAmerica/cycAmerica_1536.jpg" /> -->
<div id="achoiceContainer" class="selectionBoxContainer">
    <div class="collectionsRow firstRow asmartFirstRow">
        <div class="asmart selectionBox">
            <img class="lazyload"  data-expand="-10" data-src="./assets/img/collections/achoice/1.jpg" />
            <p class="selectionBoxTitle">312A-02</p>
        </div>
        <div class="aurora selectionBox">
            <img class="lazyload" data-expand="-20" data-src="./assets/img/collections/achoice/2.jpg" />
            <p class="selectionBoxTitle">312A-03</p>
        </div>
        <div class="achoice selectionBox">
            <img class="lazyload" data-expand="-30" data-src="./assets/img/collections/achoice/3.jpg" />
            <p class="selectionBoxTitle">312A-04</p>
        </div>
        <div class="bestrong selectionBox">
            <img class="lazyload" data-expand="40" data-src="./assets/img/collections/achoice/4.jpg" />
            <p class="selectionBoxTitle">312A-06</p>
        </div>
        <div class="ecobest selectionBox">
            <img class="lazyload" data-expand="-50" data-src="./assets/img/collections/achoice/5.jpg" />
            <p class="selectionBoxTitle">312A-07</p>
        </div>
    </div>
    <div class="collectionsRow secondRow asmartSecondRow">
        <div class="asmart selectionBox">
            <img class="lazyload" data-expand="-10" data-src="./assets/img/collections/achoice/6.jpg" />
            <p class="selectionBoxTitle">312B-02</p>
        </div>
        <div class="aurora selectionBox">
            <img class="lazyload" data-expand="-20" data-src="./assets/img/collections/achoice/7.jpg" />
            <p class="selectionBoxTitle">312B-03</p>
        </div>
        <div class="achoice selectionBox">
            <img class="lazyload" data-expand="-30" data-src="./assets/img/collections/achoice/8.jpg" />
            <p class="selectionBoxTitle">312B-04</p>
        </div>
        <div class="bestrong selectionBox">
            <img class="lazyload" data-expand="-40" data-src="./assets/img/collections/achoice/9.jpg" />
            <p class="selectionBoxTitle">312B-06</p>
        </div>
        <div class="ecobest selectionBox">
            <img class="lazyload" data-expand="-50" data-src="./assets/img/collections/achoice/10.jpg" />
            <p class="selectionBoxTitle">312B-07</p>
        </div>
    </div>
    <div class="collectionsRow thirdRow asmartThirdRow">
        <div class="asmart selectionBox">
            <img class="lazyload" data-expand="-10" data-src="./assets/img/collections/achoice/11.jpg" />
            <p class="selectionBoxTitle">312B-08</p>
        </div>
    </div>


        
    <div class="featuresContainer">
        <p class="pageTitleMain">Features</p>
        <p class="section fontLight">Made with our proprietary finished surfaces, the Achoice addresses the industry&#8217s need for the top-quality, safe flooring that is easy to maintain. Not only is our proprietary finish durable, but it also provides anti-bacterial, anti-microbial and stain resistant benefits as well. </p>
        <p class="pageTitleMain">Application</p>
        <p class="section fontLight">Healthcare, Corporate, Retail, Hospitality, Education, Multi-Family</p>
        <p class="pageTitleMain">Product Specification</p>
        <div class="featuresContainerChart">
            <div class="leftRight">
                <div class="left"><p>Thickness</p></div><div class="right"><p>2.3mm</p></div>
            </div>
            <div class="leftRight">
                <div class="left"><p>Width</p></div><div class="right"><p>1.83mm 2m</p></div>
            </div>
            <div class="leftRight">
                <div class="left"><p>Roll length</p></div><div class="right"><p>20m Roll</p></div>
            </div>
            <div class="leftRight">
            </div>
        </div>
    </div>
</div><!-- end div asmartContainer -->