<div id="collections" class="pageSection largeScreen">   
   <div class="pageTitle">
        <p>
            <span class="pageTitleMain">Collections</span> 
            <span class="pageTitleDivider">|</span> 
            <span class="pageTitleDesc">Explore our floors</span>
        </p>
    </div>


    <div id="collectionsAllRows">
        <p class="selectQuestion">Select a Collection to view</p>
        <div class="mainRow">
            <div id="asmart" class="asmart selectionBox">
                <img class="lazyload" data-expand="-50" data-src="./assets/img/collections/asmart.jpg" />
                <img class="downArrow" src="./assets/img/collections/downArrow2.png" />
            </div>
            <div id="aurora" class="aurora selectionBox">
                <img class="lazyload" data-expand="-65" data-src="./assets/img/collections/aurora.jpg" />
                <img class="downArrow" src="./assets/img/collections/downArrow2.png" />
            </div>
            <div id="achoice" class="achoice selectionBox">
                <img class="lazyload" data-expand="-80" data-src="./assets/img/collections/achoice.jpg" />
                <img class="downArrow" src="./assets/img/collections/downArrow2.png" />
            </div>
            <div id="bestrong" class="bestrong selectionBox">
                <img class="lazyload" data-expand="-85" data-src="./assets/img/collections/bestrong.jpg" />
                <img class="downArrow" src="./assets/img/collections/downArrow2.png" />
            </div>
            <div id="ecobest" class="ecobest selectionBox">
                <img class="lazyload" data-expand="-90" data-src="./assets/img/collections/ecobest.jpg" />
                <img class="downArrow" src="./assets/img/collections/downArrow2.png" />
            </div>
        </div>
    
        {{> collections_asmart}}
        {{> collections_aurora}}
        {{> collections_achoice}}
        {{> collections_bestrong}}
        {{> collections_ecobest}}

    </div>    


</div><!-- end div #collections -->
