<div id="ecobestContainer" class="selectionBoxContainer">
    <div class="collectionsRow firstRow asmartFirstRow">
        <div class="asmart selectionBox">
            <img class="lazyload" data-expand="-50" data-src="./assets/img/collections/ecobest/1.jpg" />
            <p class="selectionBoxTitle">BL 30197</p>
        </div>
        <div class="aurora selectionBox">
            <img class="lazyload" data-expand="-65" data-src="./assets/img/collections/ecobest/2.jpg" />
            <p class="selectionBoxTitle">BL 30145</p>
        </div>
        <div class="achoice selectionBox">
            <img class="lazyload" data-expand="-80" data-src="./assets/img/collections/ecobest/3.jpg" />
            <p class="selectionBoxTitle">BL 30208</p>
        </div>
        <div class="bestrong selectionBox">
            <img class="lazyload" data-expand="-85" data-src="./assets/img/collections/ecobest/4.jpg" />
            <p class="selectionBoxTitle">BL 30186</p>
        </div>
        <div class="ecobest selectionBox">
            <img class="lazyload" data-expand="-90" data-src="./assets/img/collections/ecobest/5.jpg" />
            <p class="selectionBoxTitle">BL 30205</p>
        </div>
    </div>
    <div class="collectionsRow secondRow asmartSecondRow">
        <div class="asmart selectionBox">
            <img class="lazyload" data-expand="-50" data-src="./assets/img/collections/ecobest/6.jpg" />
            <p class="selectionBoxTitle">BL 30196</p>
        </div>
        <div class="aurora selectionBox">
            <img class="lazyload" data-expand="-65" data-src="./assets/img/collections/ecobest/7.jpg" />
            <p class="selectionBoxTitle">BL 30185</p>
        </div>

    </div>
    <div class="collectionsRow thirdRow asmartThirdRow">
 
    </div>


        
    <div class="featuresContainer">
        <p class="pageTitleMain">Features</p>
        <p class="section fontLight">Made with our proprietary finished surfaces, the Ecobest addresses the industry&#8217s need for the top-quality, safe flooring that is easy to maintain. Not only is our proprietary finish durable, but it also provides anti-bacterial, anti-microbial and stain resistant benefits as well. </p>
        <p class="pageTitleMain">Application</p>
        <p class="section fontLight">Healthcare, Corporate, Retail, Hospitality, Education, Multi-Family</p>
        <p class="pageTitleMain">Product Specification</p>
        <div class="featuresContainerChart">
            <div class="leftRight">
                <div class="left"><p>Thickness</p></div><div class="right"><p>4.5mm</p></div>
            </div>
            <div class="leftRight">
                <div class="left"><p>Width</p></div><div class="right"><p>1.83mm</p></div>
            </div>
            <div class="leftRight">
                <div class="left"><p>Roll length</p></div><div class="right"><p>18m Roll</p></div>
            </div>
            <div class="leftRight">
            </div>
        </div>
    </div>
</div><!-- end div asmartContainer -->