<div id="asmartContainer" class="selectionBoxContainer">
    <div class="collectionsRow firstRow asmartFirstRow">
        <div class="asmart selectionBox">
            <img class="lazyload" data-expand="-50" data-src="./assets/img/collections/asmart/1.jpg" />
            <p class="selectionBoxTitle">AF04</p>
        </div>
        <div class="aurora selectionBox">
            <img class="lazyload" data-expand="-65" data-src="./assets/img/collections/asmart/2.jpg" />
            <p class="selectionBoxTitle">AF06</p>
        </div>
        <div class="achoice selectionBox">
            <img class="lazyload" data-expand="-80" data-src="./assets/img/collections/asmart/3.jpg" />
            <p class="selectionBoxTitle">AF09</p>
        </div>
        <div class="bestrong selectionBox">
            <img class="lazyload" data-expand="-85" data-src="./assets/img/collections/asmart/4.jpg" />
            <p class="selectionBoxTitle">AF601</p>
        </div>
        <div class="ecobest selectionBox">
            <img class="lazyload" data-expand="-90" data-src="./assets/img/collections/asmart/5.jpg" />
            <p class="selectionBoxTitle">AF603</p>
        </div>
    </div>
    <div class="collectionsRow secondRow asmartSecondRow">
        <div class="asmart selectionBox">
            <img class="lazyload" data-expand="-50" data-src="./assets/img/collections/asmart/6.jpg" />
            <p class="selectionBoxTitle">AF604</p>
        </div>
        <div class="aurora selectionBox">
            <img class="lazyload" data-expand="-65" data-src="./assets/img/collections/asmart/7.jpg" />
            <p class="selectionBoxTitle">AF605</p>
        </div>
        <div class="achoice selectionBox">
            <img class="lazyload" data-expand="-80" data-src="./assets/img/collections/asmart/8.jpg" />
            <p class="selectionBoxTitle">AF608</p>
        </div>
        <div class="bestrong selectionBox">
            <img class="lazyload" data-expand="-85" data-src="./assets/img/collections/asmart/9.jpg" />
            <p class="selectionBoxTitle">AF609</p>
        </div>
        <div class="ecobest selectionBox">
            <img class="lazyload" data-expand="-90" data-src="./assets/img/collections/asmart/10.jpg" />
            <p class="selectionBoxTitle">AF611</p>
        </div>
    </div>
    <div class="collectionsRow thirdRow asmartThirdRow">
        <div class="asmart selectionBox">
            <img class="lazyload" data-expand="-50" data-src="./assets/img/collections/asmart/11.jpg" />
            <p class="selectionBoxTitle">AF612</p>
        </div>
        <div class="aurora selectionBox">
            <img class="lazyload" data-expand="-65" data-src="./assets/img/collections/asmart/12.jpg" />
            <p class="selectionBoxTitle">AF613</p>
        </div>
    </div>



    <div class="featuresContainer">
        <p class="pageTitleMain">Features</p>
        <p class="section fontLight">Made with our proprietary finished surfaces, the Asmart addresses the industry&#8217s need for the top-quality, safe flooring that is easy to maintain. Not only is our proprietary finish durable, but it also provides anti-bacterial, anti-microbial and stain resistant benefits as well. </p>
        <p class="pageTitleMain">Application</p>
        <p class="section fontLight">Healthcare, Corporate, Retail, Hospitality, Education, Multi-Family</p>
        <p class="pageTitleMain">Product Specification</p>
        <div class="featuresContainerChart">
            <div class="leftRight">
                <div class="left"><p>Thickness</p></div><div class="right"><p>2.80mm</p></div>
            </div>
            <div class="leftRight">
                <div class="left"><p>Width</p></div><div class="right"><p>1.83mm</p></div>
            </div>
            <div class="leftRight">
                <div class="left"><p>Roll length</p></div><div class="right"><p>20m&#47Roll</p></div>
            </div>
            <div class="leftRight">
            </div>
        </div>
    </div>
</div><!-- end div asmartContainer -->

