   <div class="pageTitle">
        <p><span class="pageTitleMain">Collections |</span> <span class="pageTitleDesc">Explore our floors</span></p>
    </div>

    <style>
    	#collectionsContainer {
    		width:90%;
    		margin:0 auto;
    		overflow: auto;
    	}
    	.collectionsSquare {
    		width:100%;
    		height:auto;
    		margin-bottom:10px;
    	}
    	.collectionsSquare:nth-child(1) {
		    float:left;
		}
    	.collectionsSquare:nth-child(2) {
		    float:left;
		}
		@media (min-width: 650px) {
	        .collectionsSquare {
	    		width:23.7%;
	    	}
	    	#firstSquare, #secondSquare, #thirdSquare, #fifthSquare, #sixthSquare, #seventhSquare {
	    		margin-right:10px;
	    	}
	    }
    </style>
    <div id="collectionsContainer">
    	<div class="twoContainer">
    		<div id="firstSquare" class="collectionsSquare"><img width="100%" src="./assets/img/collections/asmart.png" /></div>
    		<div id="secondSquare" class="collectionsSquare"><img width="100%" src="./assets/img/collections/aurora.png" /></div>
    	</div>
    	<div class="twoContainer">
    		<div id="thirdSquare" class="collectionsSquare"><img width="100%" src="./assets/img/collections/achoice.png" /></div>
    		<div id="fourthSquare" class="collectionsSquare"><img width="100%" src="./assets/img/collections/generic.png" /></div>
    	</div>

    	<div class="twoContainer">
    		<div id="fifthSquare" class="collectionsSquare"><img width="100%" src="./assets/img/collections/green.png" /></div>
    		<div id="sixthSquare" class="collectionsSquare"><img width="100%" src="./assets/img/collections/bestrong.png" /></div>
    	</div>
    	<div class="twoContainer">
    		<div id="seventhSquare" class="collectionsSquare"><img width="100%" src="./assets/img/collections/aurora.png" /></div>
    		<div id="eighthSquare" class="collectionsSquare"><img width="100%" src="./assets/img/collections/generic.png" /></div>
    	</div>
    </div>
