<div id ="cycAmerica" class="pageSection">
    <div class="pageTitle">
        <p><span class="pageTitleMain">CYC America</span> <span class="pageTitleDivider">|</span> <span class="pageTitleDesc">Chinyang Chemical</span></p>
    </div>

    <style>
    	.singleImgCont {
    		width:90%;
    		margin:0 auto;
    	}
    	.singleImgCont img {
    		width:100%;
    	}
    </style>	
    <div class="singleImgCont">
    	<img class="lazyload" data-expand="-40" data-src="./assets/img/cycAmerica/cycAmerica_1536.jpg" />
    </div>

    <section>
        <p class="cycSectionTitle">Chinyang Chemical Corporation</p>
		<!--<p class="fontLight">A leader in PVC-related industry, is a sound enterprise that has been growing steadily since its establishment. We have been playing a pivotal role in the development of domestic PVC industry. Ever active in responding to changing demands, we developed, in addition to the exsiting PVC business, a vast array of eco-friendly products using TPU TPO materials which led to the expansion of our business in a variety of areas including automobile and electronics.</p>-->
        <p class=“fontLight”> A leader in the chemical engineering industry, CYC has been creating high quality products for over half a century. We are committed to the advancement of R&D and strive to continue to create innovative consumer/industry-related products. From start to finish, we control the entire manufacturing process, which ensures excellent quality control to meet the needs of our clients all around the world.</p></section> 
	</section>

    <section>
        <p class=""><b>Seoul Office</b><br>
            8FL, Chinyang Bldg.<br>190-3 Chungjeongro-2ga, Seodaemungu,<br>Seoul, South Korea</p>
        <p class="contactInfoP"><b>Ulsan Factory</b><br>300-1 Yeocheondong, Namgu,<br>Ulsan City, South Korea</p>
        <p class="contactInfoP">For any North American inquiries please contact us <a class="email" href="mailto:info@nuclic.com" target="_top">info@nuclic.com</a></p>
    </section>
</div><!-- end div#cycAmerica -->