<div id ="cycAmerica" class="pageSection">
    <div class="pageTitle">
        <p><span class="pageTitleMain">CYC America</span> <span class="pageTitleDivider">|</span> <span class="pageTitleDesc">Chinyang Chemical</span></p>
    </div>

    <style>
    	.singleImgCont {
    		width:90%;
    		margin:0 auto;
    	}
    	.singleImgCont img {
    		width:100%;
    	}
    </style>	
    <div class="singleImgCont">
    	<img class="lazyload" data-src="./assets/img/cycAmerica/cycAmerica_1536.jpg" />
    </div>

    <section>
        <p class="cycSectionTitle">Chinyang Chemical Corporation</p>
        <p class="fontLight"> A leader in the chemical engineering industry, CYC has been creating high quality products for over half a century. We are committed to the advancement of R&D and strive to continue to create innovative consumer/industry-related products. From start to finish, we control the entire manufacturing process, which ensures excellent quality control to meet the needs of our clients all around the world.</p></section> 
	</section>

    <section>
        <p class="fontLight"><span class="fontBold">Seoul Office</span><br>
            8FL, Chinyang Bldg.<br>190-3 Chungjeongro-2ga, Seodaemungu,<br>Seoul, South Korea</p>
        <p class="contactInfoP fontLight"><span class="fontBold">Ulsan Factory</span><br>300-1 Yeocheondong, Namgu,<br>Ulsan City, South Korea</p>
        <p class="contactInfoP fontLight">For any North American inquiries please contact us <a class="email" href="mailto:info@nuclic.com" target="_top">info@nuclic.com</a></p>
    </section>
</div><!-- end div#cycAmerica -->