<div id ="cycAmerica" class="pageSection">
    <div class="pageTitle">
        <p><span class="pageTitleMain">CYC America |</span> <span class="pageTitleDesc">Chinyang Chemical</span></p>
    </div>

    <style>
    	.singleImgCont {
    		width:90%;
    		margin:0 auto;
    	}
    	.singleImgCont img {
    		width:100%;
    	}
    </style>	
    <div class="singleImgCont">
    	<img class="lazyload" data-expand="-40" data-src="./assets/img/cycAmerica/cycAmerica.png" />
    </div>

    <section>
		<p>A leader in PVC-related industry, is a sound enterprise that has been growing steadily since its establishment. We have been playing a pivotal role in the development of domestic PVC industry. Ever active in responding to changin gdemands, we developed, in addition to the exsiting PVC business, a vast array of eco-friendly products using TPU TPO materials which led to the expansion of our business in a variety of areas including automobile and electronics.</p>
	</section>
</div><!-- end div#cycAmerica -->