<div id="features" class="pageSection">
    <div class="pageTitle">
        <p><span class="pageTitleMain">Features |</span> <span class="pageTitleDesc">Learn more about our products</span></p>
    </div>

    <div class="circles">
        <div class="circleBox environment">
            <div class="round"></div>
            <div class="insideCircleBox">
                <p class="colorTag">environmentally<br />friendly</p>
                <p>Anti-Fungal, anti-bacterial Nano Silver Sterilization
                Technology.</p>
                <p>No-buff floors means no bacteria, dust or wax particles are thrown into the air during cleaning process.</p>
                <p>No odors from floor finish or strippers: no cleaning agents expelled into environment.</p>
            </div>
        </div>
        <div class="circleBox maintenance">
            <div class="round"></div>
            <div class="insideCircleBox">
                <p class="colorTag">low<br />maintenance</p>
                <p>Easily cleaned by damp mopping or auto-scrubbing.</p>
                <p>Maintenance savings in investment payback in a few years.</p>
            </div>
        </div>
        <div class="circleBox durable">
            <div class="round"></div>
            <div class="insideCircleBox">
                <p class="colorTag">durable</p>
                <p>No Sealer, finishes or spray-buffing needed.</p>
                <p>Proprietary high quality embossed wear layer.</p>
            </div>
        </div>
        <div class="circleBox safe">
            <div class="round"></div>
            <div class="insideCircleBox">
                <p class="colorTag">safe</p>
                <p>Static Coefficient of Friction (dry score of 0.81; wet score of 0.56).</p>
            </div>
        </div>
        <div class="circleBox durable halfCircleBox">
            <div class="round"></div>
            <p>&nbsp;<br />&nbsp;</p>
        </div>
    </div>
</div><!-- end div#features -->

    <div style="clear:both;"></div>