
<header>
	<!--<a href="index.html"><img class="logo" src="../assets/img/logo.png" /></a>-->
	<div id="largeNavigation" class="mainNavCont">
		<div class="navigation">
			<div class="pageLinks page1"> 
		    	<img class="logo" src="./assets/img/cyc_logo_final.png" />
		    </div> 

		    <span class="pageLinks page2"> 
		    	<span>Features</span>
		    </span>
			<span class="pageLinks page3"> 
		    	<span>Inspirations</span>
		    </span> 
		    <span class="pageLinks page4"> 
		    	<span>Collections</span>
		    </span> 
		    <span class="pageLinks page5">
		    	<span>CYC America</span>
		    </span>
		    <span class="pageLinks page6">
		    	<span><a href="mailto:info@chinyangusa.com?Subject=Questions%20About%20Flooring" target="_top">Contact Us</a></span>
		    </span>  

		</div>
	</div>
	<div id="smallNavigation" class="mainNavCont">
		<div id="topSmallNav">
			<img class="hamburger" src="./assets/img/navIcon.jpg" />
			<!--<a href="index.html"><img class="logo" src="../assets/img/logo.png" /></a>-->
			<a href="index.html"><img class="logo" src="./assets/img/cyc_logo_final.png" /></a>
		</div>

		<div class="navigation">
			<div class="pageLinks page1"> 
		    	<span>Home</span>
		    </div> 
			<span class="pageLinks page2"> 
		    	<span>Features</span>
		    </span>
			<span class="pageLinks page3"> 
		    	<span>Inspirations</span>
		    </span> 
		    <span class="pageLinks page4"> 
		    	<span>Collections</span>
		    </span> 
		    <span class="pageLinks page5">
		    	<span>CYC America</span>
		    </span>
		    <div class="pageLinks ">
		    	<span><a href="mailto:info@chinyangusa.com?Subject=Questions%20About%20Flooring" target="_top">Email Us</a></span>
		    </div>    
		    <div class="pageLinks">
		    	<a href="tel:347-370-9419">Call Us</a>
		    </div>
		</div>
	</div>
</header>
