<div id="inspirations" class="pageSection">
	this will be the inspirations page



    <section>
        <p>the photo gallery will be coming soon</p>
        <p>the photo gallery will be coming soon</p>
        <p>the photo gallery will be coming soon</p>
        <p>the photo gallery will be coming soon</p>
        <p>the photo gallery will be coming soon</p>
        <p>the photo gallery will be coming soon</p>
        <p>the photo gallery will be coming soon</p>
        <p>the photo gallery will be coming soon</p>
        <p>the photo gallery will be coming soon</p>
        
    </section>




</div><!-- end div#inspirations -->