
<div id="inspirations" class="pageSection">
	<div class="pageTitle">
        <p><span class="pageTitleMain">Inspirations</span> <span class="pageTitleDivider">|</span> <span class="pageTitleDesc">Bring nature to your project</span></p>
    </div>

    <div id="inspirationsSlidesCont">
	    <div class="slideShow2"
	    	data-cycle-loader="wait"
	        data-cycle-speed="500" 
	        data-cycle-timeout="0"
	        data-cycle-fx="scrollHorz"
	        data-cycle-swipe=true
	        data-cycle-swipe-fx=scrollHorz
	        data-cycle-prev=".prevControl2"
	        data-cycle-next=".nextControl2"
	    >
	        
	        <img id="inspirationsGallery1" src="./assets/img/inspiration/inspiration_1b.jpg">
	        <img id="inspirationsGallery2" src="./assets/img/inspiration/inspiration_2b.jpg">
	        <img id="inspirationsGallery3" src="./assets/img/inspiration/inspiration_3b.jpg">
	        <img id="inspirationsGallery4" src="./assets/img/inspiration/inspiration_4b.jpg">
	        <!--<img src="http://7e18a1c646f5450b9d6d-a75424f262e53e74f9539145894f4378.r8.cf3.rackcdn.com/11_13_2013-100648-southern_neighbourhood-fac-16-9-preview_39.18_thumb_169_1384349037_1384349037.jpg">-->

	        <div class="cycle-pager"></div>
	        <!--<div id="leftSlideShowCircle2" class="slideShowCircle"></div>
	        <div id="rightSlideShowCircle2" class="slideShowCircle"></div>-->
	        <span class="prevControl2"><img src="./assets/img/before2_bt.png" /></span>
	        <span class="nextControl2"><img src="./assets/img/after2_bt.png" /></span>

	    </div>

	</div><!-- end div#inspirationsSlidesCont -->



</div><!-- end div#inspirations -->