<style>

	#list {
		margin-top: 70px;
	    transition: padding .5s;
	}

	.listContent {
		width:90%;
		margin:0 auto;
	}
	.listContent h2 {
		text-align: center;
		padding:10px 0;
	}
	.date {
		text-align: center;
		padding:0;
		margin:0;
		color:#aeaeae;
	}
	.divider { 
		border-bottom: 2px solid #e0e0e0; margin:40px 6%; 
	}
	#rangeControlledByDate {
	    margin-left: 5px;
	    width: 370px;
	}
</style>


<div id="list" class="include">

	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MS0284-768x466.jpg" />
		<h2>Way far away in 2018</h2>
		<p data-date="" class="date">June 6, 2018</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MS0284-768x466.jpg" />
		<h2>2018 is coming</h2>
		<p data-date="" class="date">January 1, 2018</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MS0284-768x466.jpg" />
		<h2>Far into the future</h2>
		<p data-date="" class="date">June 6, 2017</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MS0284-768x466.jpg" />
		<h2>Not so far into the distant future</h2>
		<p data-date="" class="date">January 1, 2017</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MS0284-768x466.jpg" />
		<h2>The year 2016</h2>
		<p data-date="" class="date">June 6, 2016</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MS0284-768x466.jpg" />
		<h2>also in the year 2016</h2>
		<p data-date="" class="date">January 1, 2016</p>
	</div>
	<div class="divider"></div>

	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MS0284-768x466.jpg" />
		<h2>A Milestone for the Walk</h2>
		<p data-date="" class="date">April 29, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<a href="walkingtour.html">
		    <img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/tbilisi_map_ss_NG-768x466.png" />
		    <h2>Walking Tbilisi, Georgia</h2>
		    <p class="date">April 21, 2015</p>
		</a>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/03/Salopek-Wine5-768x466.jpg" />
		<h2>Ghost of the Vine</h2>
		<p class="date">April 14, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MuleCK2-768x466.jpg" />
		<h2>Glance Back: Mule Checkup</h2>
		<p class="date">April 1, 2015</p>
	</div>
	<div class="divider"></div>



	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/05/Salopek-Golden1-990x645.jpg" />
		<h2>Golden Fleece</h2>
		<p class="date">March 31, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/03/Salopek-Rest1-768x466.jpg" />
		<h2>Caravan Stop</h2>
		<p class="date">March 30, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MuleCK2-768x466.jpg" />
		<h2>Anatolia Through Other Eyes</h2>
		<p class="date">March 29, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/03/1503_trailsend011_0243-768x466.jpg" />
		<h2>Trail’s End</h2>
		<p class="date">March 28, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/02/Salopek-Kirkatir4-768x466.jpg" />
		<h2>Goodbye to Anatolia</h2>
		<p class="date">March 27, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/02/Salopek-Snow6-990x743.jpg" />
		<h2>Blood On Snow</h2>
		<p class="date">March 26, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/02/Salopek-Snow5-1024x768.jpg" />
		<h2>We set off at a jog</h2>
		<p class="date">March 25, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/10/1410_stitch003.jpg" />
		<h2>Loose Thread on the Silk Road</h2>
		<p class="date">March 24, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/10/Salopek-Refugees2-990x742.jpg" />
		<h2>“This Is Not a Life”</h2>
		<p class="date">March 23, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/09/Salopek-Hinge1-990x772.jpg" />
		<h2>The Hinge</h2>
		<p class="date">March 22, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/08/Salopek-Ghost1-990x742.jpg" />
		<h2>Ghost City</h2>
		<p class="date">March 21, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/10/Pistachio-Salopek2-990x742.jpg" />
		<h2>Pistachio Mafia</h2>
		<p class="date">March 20, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/08/Salopek-Cyprus4-990x742.jpg" />
		<h2>Treasure Island</h2>
		<p class="date">March 19, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/08/Salopek-Exit1-990x742.jpg" />
		<h2>Exit</h2>
		<p class="date">March 18, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/05/Salopek-Jerusalem2.gif" />
		<h2>Jerusalem</h2>
		<p class="date">March 17, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/07/Salopek-Children2-990x742.jpg" />
		<h2>Children’s Crusade</h2>
		<p class="date">March 16, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/11/Salopek-Mother1-990x659.jpg" />
		<h2>Mother Rivers</h2>
		<p class="date">March 15, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/10/Salopek-Autumn1-990x742.jpg" />
		<h2>The Wars of Autumn</h2>
		<p class="date">March 14, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/01/Salopek-Imam3-990x742.jpg" />
		<h2>Minaret Dreams</h2>
		<p class="date">March 13, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/tbilisi_map_ss_NG-990x600.png" />
		<h2>Walking Tbilisi, Georgia</h2>
		<p class="date">March 12, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MuleCK2-768x466.jpg" />
		<h2>Story 21</h2>
		<p class="date">March 11, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MuleCK2-768x466.jpg" />
		<h2>Story 22</h2>
		<p class="date">March 10, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MuleCK2-768x466.jpg" />
		<h2>Story 23</h2>
		<p class="date">March 09, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MuleCK2-768x466.jpg" />
		<h2>Story 24</h2>
		<p class="date">March 08, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/03/1503_trailsend011_0243-990x743.jpg" />
		<h2>Trail’s End</h2>
		<p class="date">March 07, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/01/Salopek-Imam3-990x742.jpg" />
		<h2>Minaret Dreams</h2>
		<p class="date">March 06, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/12/Salopek-Mule1-990x659.jpg" />
		<h2>Mule-ology</h2>
		<p class="date">March 05, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/05/1505_honey012_251-cliff-2-990x743.jpg" />
		<h2>Honey, I’m Dead</h2>
		<p class="date">March 04, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/03/Salopek-Rest1-990x743.jpg" />
		<h2>Caravan Stop</h2>
		<p class="date">March 03, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/12/salopek-fruit2-990x742.jpg" />
		<h2>Eat Your Country</h2>
		<p class="date">March 02, 2015</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/02/Salopek-Snow6-990x743.jpg" />
		<h2>Blood On Snow</h2>
		<p class="date">March 01, 2015</p>
	</div>
	<div class="divider"></div>







	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MS0284-768x466.jpg" />
		<h2>A Milestone for the Walk</h2>
		<p data-date="" class="date">April 29, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/tbilisi_map_ss_NG-768x466.png" />
		<h2>Walking Tbilisi, Georgia</h2>
		<p class="date">April 21, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/03/Salopek-Wine5-768x466.jpg" />
		<h2>Ghost of the Vine</h2>
		<p class="date">April 14, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MuleCK2-768x466.jpg" />
		<h2>Glance Back: Mule Checkup</h2>
		<p class="date">April 1, 2013</p>
	</div>
	<div class="divider"></div>



	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/05/Salopek-Golden1-990x645.jpg" />
		<h2>Golden Fleece</h2>
		<p class="date">March 31, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/03/Salopek-Rest1-768x466.jpg" />
		<h2>Caravan Stop</h2>
		<p class="date">March 30, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MuleCK2-768x466.jpg" />
		<h2>Anatolia Through Other Eyes</h2>
		<p class="date">March 29, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/03/1503_trailsend011_0243-768x466.jpg" />
		<h2>Trail’s End</h2>
		<p class="date">March 28, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/02/Salopek-Kirkatir4-768x466.jpg" />
		<h2>Goodbye to Anatolia</h2>
		<p class="date">March 27, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/02/Salopek-Snow6-990x743.jpg" />
		<h2>Blood On Snow</h2>
		<p class="date">March 26, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/02/Salopek-Snow5-1024x768.jpg" />
		<h2>We set off at a jog</h2>
		<p class="date">March 25, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/10/1410_stitch003.jpg" />
		<h2>Loose Thread on the Silk Road</h2>
		<p class="date">March 24, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/10/Salopek-Refugees2-990x742.jpg" />
		<h2>“This Is Not a Life”</h2>
		<p class="date">March 23, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/09/Salopek-Hinge1-990x772.jpg" />
		<h2>The Hinge</h2>
		<p class="date">March 22, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/08/Salopek-Ghost1-990x742.jpg" />
		<h2>Ghost City</h2>
		<p class="date">March 21, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/10/Pistachio-Salopek2-990x742.jpg" />
		<h2>Pistachio Mafia</h2>
		<p class="date">March 20, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/08/Salopek-Cyprus4-990x742.jpg" />
		<h2>Treasure Island</h2>
		<p class="date">March 19, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/08/Salopek-Exit1-990x742.jpg" />
		<h2>Exit</h2>
		<p class="date">March 18, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/05/Salopek-Jerusalem2.gif" />
		<h2>Jerusalem</h2>
		<p class="date">March 17, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/07/Salopek-Children2-990x742.jpg" />
		<h2>Children’s Crusade</h2>
		<p class="date">March 16, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/11/Salopek-Mother1-990x659.jpg" />
		<h2>Mother Rivers</h2>
		<p class="date">March 15, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/10/Salopek-Autumn1-990x742.jpg" />
		<h2>The Wars of Autumn</h2>
		<p class="date">March 14, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/01/Salopek-Imam3-990x742.jpg" />
		<h2>Minaret Dreams</h2>
		<p class="date">March 13, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/tbilisi_map_ss_NG-990x600.png" />
		<h2>Walking Tbilisi, Georgia</h2>
		<p class="date">March 12, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MuleCK2-768x466.jpg" />
		<h2>Story 21</h2>
		<p class="date">March 11, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MuleCK2-768x466.jpg" />
		<h2>Story 22</h2>
		<p class="date">March 10, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MuleCK2-768x466.jpg" />
		<h2>Story 23</h2>
		<p class="date">March 09, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/04/Salopek-MuleCK2-768x466.jpg" />
		<h2>Story 24</h2>
		<p class="date">March 08, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/03/1503_trailsend011_0243-990x743.jpg" />
		<h2>Trail’s End</h2>
		<p class="date">March 07, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/01/Salopek-Imam3-990x742.jpg" />
		<h2>Minaret Dreams</h2>
		<p class="date">March 06, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/12/Salopek-Mule1-990x659.jpg" />
		<h2>Mule-ology</h2>
		<p class="date">March 05, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/05/1505_honey012_251-cliff-2-990x743.jpg" />
		<h2>Honey, I’m Dead</h2>
		<p class="date">March 04, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/03/Salopek-Rest1-990x743.jpg" />
		<h2>Caravan Stop</h2>
		<p class="date">March 03, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2014/12/salopek-fruit2-990x742.jpg" />
		<h2>Eat Your Country</h2>
		<p class="date">March 02, 2013</p>
	</div>
	<div class="divider"></div>
	<div class="listContent">
		<img width="100%" src="http://outofedenwalk.nationalgeographic.com/files/2015/02/Salopek-Snow6-990x743.jpg" />
		<h2>Blood On Snow</h2>
		<p class="date">March 01, 2013</p>
	</div>
	<div class="divider"></div>
</div>

