<div id="slideShowCont" class="pageSection">
    <div class="cycle-slideshow"
        data-cycle-loader="wait"
        data-cycle-speed="1000" 
        data-cycle-timeout="10000"
        data-cycle-fx="scrollHorz"
        data-cycle-swipe=true
        data-cycle-swipe-fx=scrollHorz
        data-cycle-prev=".prevControl"
        data-cycle-next=".nextControl"
    >
              
        <img id="mainGallery1" class="mainGalleryImg" src="./assets/img/mainGallery/Hospital_1536.jpg">
        <img id="mainGallery2" class="mainGalleryImg" src="./assets/img/mainGallery/Lobby2_1536.jpg">
        <img id="mainGallery3" class="mainGalleryImg" src="./assets/img/mainGallery/Office_1536.jpg">
        <img id="mainGallery4" class="mainGalleryImg" src="./assets/img/mainGallery/Retail_1536.jpg">

        <div class="cycle-pager"></div>
        <div id="leftSlideShowCircle" class="slideShowCircle"></div>
        <div id="rightSlideShowCircle" class="slideShowCircle"></div>
        <span class="prevControl"><img src="./assets/img/arrow_black_left.png" /></span>
        <span class="nextControl"><img src="./assets/img/arrow_black_right.png" /></span>

        <div id="slideShowTitle">
            <div style="border-bottom:5px solid white;width:23%;margin-left:.5%;margin-bottom:10px;"></div>
            <span>CYC America<br />Flooring Company</span>
        </div>

    </div>
    <!--
    <div>
        <span class="prevControl"> << Prev <img src="./assets/img/arrow_left.png" /></span>
        <span class="nextControl"> Next >> <img src="./assets/img/arrow_right.png" /></span>
    </div>
    -->

    <section>
        <!--<p class="fontLight">You can experience upgraded elegance as well as the sense of pleasure and comfort just as you would do in nature. The floors are manufactured to the trendy taste of today&#8217s consumers who value natural purity, eco-friendliness and high functionality, offers ample choice of a wide variety of products that can bring you a new life style together with a pleasant and comfortable living environment.</p>-->
        <p>You can experience upgraded elegance as well as the sense of pleasure and comfort just as you would do in nature. The floors are manufactured to the trendy taste of today&#8217s consumers who value natural purity, eco-friendliness and high functionality, offers ample choice of a wide variety of products that can bring you a new life style together with a pleasant and comfortable living environment.</p>
    </section>
</div><!-- end div#slideShowCont -->


