/* ------ BEGIN HEADER ------ */
	header { 
		width: 100%;
		background-color: white;
	}
	.pageLinks {
		padding:0 10px;
		color:#000;
		font-size:12px;
	}
	.pageLinks a:link, a:visited {
	    color: #000;
	}
	.footerLinks { color: #999; }
	footer {
		text-align: center;
		font-size: 14px;
		line-height: 24px;
	}
	#inspirations, #collections, #cycAmerica {
		display:none;
	}
	/* ------ BEGIN CSS FOR LAZYLOADING IMAGES ------ */
	.lazyload,
	.lazyloading {
	    opacity: 0;
	}
	.lazyloaded {
	    opacity: 1;
	    transition: opacity 300ms;
	}
	#cycAmerica .singleImgCont .lazyloaded {
		opacity: 1;
		transition: opacity 1000ms;
	}
	/* SLIDESHOW CSS */
	    html {
        overflow-y: scroll;
    }
    body { overflow-x:hidden; }
    .cycle-slideshow { width: 100%; }
    .cycle-slideshow img { width: 100%; height: auto; }
    #inspirations .slideShow2 { width: 100%;}
    #inspirations .slideShow2 img { width: 100%; height: auto }
    /*
    #inspirations #patternCont { float:left;width:20%;border:1px green;margin-left:20px;}
    #inspirations .patternSlideShow { width: 100%; position:relative;float:left;}
    #inspirations .patternSlideShow img { width: 100%; height: auto }
    */

    /* pager */
    .cycle-pager { 
        text-align: right;width: 100%; z-index: 500; position: absolute; bottom: 10px; right:30px; overflow: hidden;
    }
    .cycle-pager span { 
        font-family: arial; font-size: 30px; width: 16px; height: 16px; 
        display: inline-block; color: #ddd; cursor: pointer; 
    }
    .cycle-pager span.cycle-pager-active { color: #aeaeae;}
    .cycle-pager > * { cursor: pointer; margin-right:0px;}

    .prevControl, .nextControl {
      position: absolute;
      top: 45%;
      z-index: 9999;
      width: 15px;
    }
    .prevControl {
        left:0;
        margin-left:10px;
    }
    .nextControl {
        right:0;
        margin-right:10px;
    }

    .prevControl2, .nextControl2 {
      position: absolute;
      top: 43.5%;
      z-index: 9999;
      width: 15px;
    }
    .prevControl2 {
        left:0;
        margin-left:10px;
    }
    .nextControl2 {
        right:0;
        margin-right:10px;
    }
    /* jaimes css */
    .slideShowCircle {
        position: absolute;
        top: 40%;
        z-index: 9999;
        display:none;
    }
    #leftSlideShowCircle {
        left:0;
        width: 50px;
        height: 100px; /* as the half of the width */
        background-color: #fff;
        opacity:0.4;
        border-top-right-radius: 110px;  /* 100px of height + 10px of border */
        border-bottom-right-radius: 110px; /* 100px of height + 10px of border */
        border: 0px solid gray;
        border-bottom: 0;
    }
    #rightSlideShowCircle {
        right:0;
        width: 50px;
        height: 100px; /* as the half of the width */
        background-color: #fff;
        opacity:0.4;
        border-top-left-radius: 110px;  /* 100px of height + 10px of border */
        border-bottom-left-radius: 110px; /* 100px of height + 10px of border */
        border: 0px solid gray;
        border-bottom: 0;
    }
    #leftSlideShowCircle2 {
        left:0;
        width: 50px;
        height: 100px; /* as the half of the width */
        background-color: #ebebeb;
        border-top-right-radius: 110px;  /* 100px of height + 10px of border */
        border-bottom-right-radius: 110px; /* 100px of height + 10px of border */
        border: 0px solid gray;
        border-bottom: 0;
    }
    #rightSlideShowCircle2 {
        right:0;
        width: 50px;
        height: 100px; /* as the half of the width */
        background-color: #ebebeb;
        border-top-left-radius: 110px;  /* 100px of height + 10px of border */
        border-bottom-left-radius: 110px; /* 100px of height + 10px of border */
        border: 0px solid gray;
        border-bottom: 0;
    }
    #slideShowTitle {
        position: absolute;
        z-index: 999;
        bottom: 10px;
        margin-bottom: 10px;
        margin-left: 5%;
        color:white;
    }
    #slideShowTitle span { 
        font-family: "Times New Roman", Times, serif;
        font-size:18px;
    }
    .circles {
        width:130%;
        overflow: auto;
        border:0px solid red;
    }
    .circleBox {
        float:left;
        width:16%;
        border:0px solid #aeaeae;
        margin-right: 13px;
        min-height: 145px;
    }
    .halfCircleBox {
        width:7%;
        margin-right:0px;
    }
    .circleBox:nth-of-type(1) {
        margin-left:20px;
    }
    .round {
        border:1px solid green;
        width:130px;
        height:130px;
        -webkit-border-radius: 100px;
        overflow:hidden;
        float: left;
    }
    .halfRound {
        width: 65px;
        height: 130px; /* as the half of the width */
        background-color: #fff;
        opacity:0.2;
        border-top-left-radius: 110px;  /* 100px of height + 10px of border */
        border-bottom-left-radius: 110px; /* 100px of height + 10px of border */
        border:1px solid #666;
        opacity: 0.4;

    }
    .insideCircleBox {
        /*margin-left:20%;*/
        margin-top:60px;
    }
    /*.circleBox p:nth-child(2), .circleBox p:nth-child(3), .circleBox p:nth-child(4) {
        font-size:12px;
        color:#666;
        margin-bottom:10px;
    }*/
    .maintenance, .durable, .safe {margin-top:45px;}
    .circleBox .colorText {

    }
    .circleBox .colorText p {
        font-size:12px;
        color:#666;
        margin-bottom:10px;
        width:90%;
        margin-left:auto;
    }
    .circleBox p.colorTag {
        margin-left:150px;
        margin-bottom:10px;
        margin-top:20px;
        font-size: 18px;
    }
    .environment .round {
        border:1px solid #66E0FF;
        opacity: 0.4;
    }
    .environment .round img {
        width:137px;
        margin-left:-25px;
    }
    .environment p.colorTag {
        color:#66E0FF;
    }
    .environment .colorText {
        margin-top:50px;
    }
    .maintenance .round {
        border:1px solid #66FF66;
        /*opacity:0.2;*/
        opacity: 0.5;
    }
    .maintenance .round img {
        width:134px;
        margin-top:22px;
    }
    .maintenance p.colorTag {
        color:#66FF66;
    }
    .maintenance .colorText {
        margin-top:50px;
    }
    .durable .round {
        border:1px solid #666;
        opacity: 0.4;
    }
    .durable .round img {
        width:98px;
        margin-top:5px;
        margin-left:20px;
    }
    .durable p.colorTag {
        color:#666;
        margin-bottom:30px;
    }
    .durable .colorText {
        margin-top:75px;
    }
    .safe .round {
        border:2px solid #FFD699;
        opacity: 0.4;
    }
    .safe .round img {
        width:155px;
        margin-top:-15px;
        margin-left:-10px;
    }
    .safe p.colorTag {
        color: #FFD699;
        margin-bottom:30px;
    }
    .safe .colorText {
        margin-top:75px;
    }
    .halfCircleBox .round {
        border:1px solid #666;
        opacity: 0.4;
    }
    .halfCircleBox .round img {
        width:137px;
        margin-left:-25px;
    }


    section {
        width:90%;
        padding:20px;
        font-size:12px;
        line-height: 22px;
        color:#666;
    }

    .pageTitle {
        width:90%;
        padding:40px 20px 20px 20px;
        margin-bottom:40px;
    }

    span.pageTitleMain {text-transform: uppercase;}
    span.pageTitleDesc {color:#666;}




/* ------ BEGIN MEDIA QUERIES ------ */
/* ------ TRY TO BE SPARING WITH THESE ------ */

    @media (max-width: 650px) {
        /*.insideCircleBox {
            margin-left:30px;
            margin-top:-110px;
        }*/
        .halfCircleBox {display:none;}
        .circleBox {width:90%;padding:10px;}
        .circleBox:nth-of-type(1) {
            margin-left:0px;
        }
        .safe p.colorTag, .durable p.colorTag {
            margin-bottom:10px;
        }
        .circles {width:100%;overflow:hidden;}
    }


    @media (min-width: 480px) {
        section {
            width:65%;
            padding:50px 0 0px 60px;
            font-size:12px;
            line-height: 22px;
            color:#666;
        }
        .pageTitle {
            width:65%;
            padding:20px 0 50px 60px;
            margin-top:40px;
            margin-bottom:30px;
        }       
    }
    @media (min-width: 650px) {
        #slideShowTitle span { 
            font-size:24px;
        }
        #slideShowTitle {
            bottom: 20px;
        }
        .cycle-pager span { 
            font-size: 50px;
        }
        .cycle-pager > * {margin-right:10px;}

        #inspirations, #collections, #cycAmerica {
			display:block;
			overflow:auto;
		}
        .insideCircleBox {
            margin-left:20%;
            margin-top:0px;
        }
        .round {
            float:none;
        }
        .maintenance, .durable, .safe {margin-top:0px;}
        .circleBox p.colorTag {
            margin-left:0;
        }
        .circleBox .colorText p {
            margin-left:20%;
            width:auto;
        }
        .circleBox .colorText {
            margin-top:0;
        }
    }
    @media (min-width: 700px) {
        .cycle-pager { 
            text-align: center; 
            right:0px;
        }
    }
    @media (min-width: 748px) {
    	.slideShowCircle {
            display:block;
        }
    }
    @media (min-width: 960px) {
    }
