/* ------ BEGIN HEADER ------ */
	header { 
		width: 100%;
		background-color: white;
	}
	
	#navigation {
		/*background-color:#f7f7f7;*/
		background-color: #fff;
		padding:20px 0;
		color:#666;
		text-transform: uppercase;
		text-decoration: none;
		text-align: left;
	}
	.pageLinks {
		padding:0 10px;
		color:#000;
		font-size:12px;
	}
	.pageLinks a:link, a:visited {
	    color: #000;
	}
	.footerLinks { color: #999; }
	footer {
		text-align: center;
		font-size: 14px;
		line-height: 24px;
	}

	section {
		width:65%;
		padding:20px;
		font-size:12px;
		line-height: 22px;
		color:#666;
	}
	/* SLIDESHOW CSS */
	#fullpage {
		margin-bottom:20px;
	}


/* ------ BEGIN MEDIA QUERIES ------ */
/* ------ TRY TO BE SPARING WITH THESE ------ */

	@media (min-width: 480px) {
	}
   /* @media (min-width: 550px) {*/
   	@media (min-width: 570px) {

	}
	@media (min-width: 748px) {

	}
	@media (min-width: 960px) {
	}